@import "tailwindcss";
.home-page {
  background-color: #0b0f2f;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 4.5s linear infinite;
}

.footer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background-color: #0b0f2f;
  font-size: 1rem;
  color: white;
}
.icon {
  display: grid;
  flex-direction: column;
  gap: 10px;
}



.social-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 yuxarı, 3 aşağı */
  grid-template-rows: repeat(2, auto);
  gap: 12px;
  align-items: center;
  justify-items: center;
}

.social-grid a {
  font-size: 20px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.social-grid a:hover {
  transform: scale(1.15);
}

